*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth !important;
    font-family: 'Poppins', sans-serif;
}
:root{
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color: #fff;
    --second-color: #ccc;
    --main-color: #ff4d05;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}
body{
    background:var(--bg-color) ;
    color: var(--text-color)
}
header{
    background: transparent;
    position: sticky;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10%;
    border-bottom: 5px solid transparent;
    transition: all 0.45s ease;
}
header #logo{
    font-size: 25px;
    font-weight: 700;
}
header #logo #logo-2{
    color: var(--main-color);
}
header .navlist{
    display: flex;
}
header .navlist a{
    color: var(--second-color);
    font-size: 18px;
    margin: 0 20px;
}
header .navlist a:hover{
    color: var(--main-color);
}
header .navlist a.active{
    color: var(--main-color);
}
#menu-button{
    font-size: 28px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}


/* Home CSS */
.home{
    padding: 150px 12% 100px 12%;
    display: flex;
    flex-wrap: wrap;
    gap: 25%;
    align-items: center;
}
.item{
    flex: 1;
}
.home .profile-img img{
    max-width:380px;
    height: auto;
}
.text{
    margin-bottom: 19px;
}
.hello{
    font-size: 20px;
}
.hello #hello-1{
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 6px 5px;
    margin-right: 9px;
    font-weight: 500;
}

.home-text .name h2{
    font-size: 35px;
}
.home-text .name h3{
    font-size: 25px;
}
.home-text .name h3 span{
    color: var(--main-color);
    text-decoration: underline;
}

.home-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
}
.btn{
    padding: 6px 9px;
    font-size: 18px;
    color: var(--text-color);
    font-weight: 500;
    background-color: var(--main-color);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 5px 7px 9px var(--second-bg-color);
    background-color: var(--second-color);
    color: var(--main-color);
    transition: all 0.45s ease;
}
header.sticky{
    background-color: #0c0b0b60;
    padding: 17px 10%;
}


/* About me CSS */
.about-sec{
    padding: 0 12% 150px 12%;
}
.heading{
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 25px;
}
.heading span{
    color: var(--main-color);
}
.about{
    display: flex;
    flex-wrap: wrap;
    gap: 25%;
    align-items: center;
    /* justify-content: space-between; */
}

.about .aboutme-img img{
    max-width: 390px;
    height: auto;
}
.about .about-text h2{
    font-size: var(--h2-font);
    font-weight: 800;
}
.about .about-text h2 span{
    color: var(--main-color);
}
.about .about-text h3{
    font-size: 1.5rem;
}
.about .about-text p{
    width: 100%;
    color: var(--second-color);
    line-height: 1.8;
    font-size: var(--p-font);
}

/* skills CSS */
.skills-sec{
    padding: 0 12% 150px 12%;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    gap: 25%;
    align-items: center;
}
.skill-heading{
    margin: 15px 0;
    font-size: 1.5rem;
}
.skill-heading span{
    color: var(--main-color);
}
.skill-bar{
    min-width: 25%;
}
.skill{
    width: 100%;
    padding: 0 4px;
    border-radius: 5px;
    color: #202020;
    font-weight: 800;
    text-align: right;
    background: var(--second-color);
    /* left to right transition */
    background: linear-gradient(to right, var(--main-color) 50%, var(--second-color) 50%);
    background-size: 210% 100%;
    background-position: right bottom;
    transition: all .3s ease-out;
}
.skill:hover{
    background-position: left bottom;
    color: var(--text-color);
}
.html{
    width: 75%;
    background-color: var(--main-color);
}
.css{
    width: 60%;
    background-color: var(--main-color);
}
.js{
    width: 45%;
    background-color: var(--main-color);
}
.py{
    width: 70%;
    background-color: var(--main-color);
}
.java{
    width: 65%;
    background-color: var(--main-color);
}
.ini{
    width: 80%;
    background-color: var(--main-color);
}
.comm{
    width: 70%;
    background-color: var(--main-color);
}
.solve{
    width: 75%;
    background-color: var(--main-color);
}
.team{
    width: 85%;
    background-color: var(--main-color);
}

/* portfolio CSS */
.portfolio{
    padding: 0 12% 150px 12%;
}
.portfolio .project-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.portfolio .project-box .project{
    flex: 1 1 20rem;
    margin: 15px 40px;
    height: 215px;
    max-width: 325px;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
}

.project-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project .content{
    position: absolute;
    top: -100%;
    text-align: center;
    height: 100%;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: #f1c9b9be;
    padding: 25px 8px;
    font-size: 1.1rem;
}
.project .content h3{
    color: var(--bg-color);
}
.project:hover{
    box-shadow: 13px 10px 13px rgba(0, 0, 0, 0.7);
}
.project:hover .content{
    top: 0;
    transition: all 0.3s ease;
}

/* contact CSS */
.contact{
    padding: 0 12% 150px 12%;
}
.contact-box{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
}
.contact .con{
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 15px;
}
.contact .con span{
    color: var(--main-color);
}
.contact-text h3{
    color: var(--second-color);
}
.contact-text p{
    margin:4px 0;
    font-size: 1.1rem;
    color: var(--second-color);
}
.contact-text li{
    margin: 10px 0;
    font-size: 1rem;
}
.contact-text li a{
    color: var(--second-color);
}
.contact-text li a:hover{
    color: #ff4d05;
}

.contact-text .icons{
    margin: 30px 0;
}
.contact-text .icons i{
    margin-right: 9px;
    font-size: 40px;
    color: var(--main-color);
}
.contact-form .input{
    width: 100%;
    padding: 7px 8px;
    border: none;
    outline: none;
    resize: none;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #2a2a2a;
    margin: 10px 0;
}

.contact-form .input:focus{
    box-shadow: 0 0 12px var(--main-color);
}

/* end section css */

.end{
    padding: 18px 12%;
    /* flex: 1 1 10rem; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--second-bg-color);
    color: var(--second-color);
}
.end i{
    font-size: 35px;
    color: var(--second-color);
    background-color: var(--main-color);
    padding: 5px;
    border-radius: 7px ;
}



/* media querry */

@media (max-width: 1480px) {
    header{
        padding: 20px 4%;
    }
    header.sticky{
        padding: 20px 4%;
    }
    .home, .about-sec, .skills-sec, .portfolio, .contact{
        padding: 50px 5% 50px 5%;
    }
    .end{
        padding: 10px 7%;
    }
}

@media (max-width: 920px){
    .about, .skills{
        gap: 8% 5%;
    }
}
@media (max-width: 890px){
    #menu-button{
        display: block;
    }
    .navlist{
        position: absolute;
        top: -200%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: var(--bg-color);
        text-align: center;
        transition: all 0.4s ease ;
    }
    header .navlist a{
        /* display: block; */
        margin: 22px;
        font-size: 20px;
        transition: all 0.45s ease;
        font-weight: 500;
    }
    header .navlist a.active{
        color: var(--text-color);
    }
    header .navlist a:hover{
        color: var(--main-color);
    }
    .navlist.open{
        top:100%;
    }
}
@media (max-width:755px){
    .home, .about{
        text-align: center;
    }
} 
@media (max-width:580px){
    .end i{
        font-size: 25px;
    }
}