*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color: #fff;
    --second-color: #ccc;
    --main-color: #ff4d05;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}
body{
    background:var(--bg-color) ;
    color: var(--text-color)
}
header{
    background: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10%;
    border-bottom: 5px solid transparent;
    transition: all 0.45s ease;
}
header #logo{
    font-size: 25px;
    font-weight: 700;
}
header #logo #logo-2{
    color: var(--main-color);
}
header .navlist{
    display: flex;
}
header .navlist a{
    color: var(--second-color);
    font-size: 18px;
    margin: 0 20px;
}
header .navlist a:hover{
    color: var(--main-color);
}
header .navlist a.active{
    color: var(--main-color);
}
#menu-button{
    font-size: 28px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}


/* Home CSS */
.home{
    /* position: relative;
    height: 100vh;
    width: 100%; */
    padding: 150px 12% 100px 12%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.home .profile-img img{
    max-width:380px;
    height: auto;
}
.text{
    margin-bottom: 19px;
}
.hello{
    font-size: 20px;
}
.hello #hello-1{
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 6px 5px;
    margin-right: 9px;
    font-weight: 500;
}

.home-text .name h2{
    font-size: 35px;
}
.home-text .name h3{
    font-size: 25px;
}
.home-text .name h3 span{
    color: var(--main-color);
    text-decoration: underline;
}

.home-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
}
.btn{
    padding: 6px 9px;
    font-size: 18px;
    color: var(--text-color);
    font-weight: 500;
    background-color: var(--main-color);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 5px 7px var(--second-bg-color);
    transition: all 0.45s ease;
}
header.sticky{
    background-color: #0c0b0b60;
    padding: 17px 10%;
}
/* About me CSS */
.about{
    padding: 0 12% 150px 12%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .aboutme-img img{
    max-width: 390px;
    height: auto;
}
.about .about-text{
    max-width: 55%;
}
.about .about-text h2{
    font-size: var(--h2-font);
    font-weight: 800;
}
.about .about-text h2 span{
    color: var(--main-color);
}
.about .about-text h3{
    font-size: 1.5rem;
}
.about .about-text p{
    color: var(--second-color);
    line-height: 1.8;
    font-size: var(--p-font);
}

/* skills CSS */
.skills-sec{
    padding: 0 12% 150px 12%;
}
.heading{
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
}
.heading span{
    color: var(--main-color);
}
.skills{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.skill-heading{
    margin: 15px 0;
    font-size: 1.5rem;
}
.skill-heading span{
    color: var(--main-color);
}
.skill-bar{
    min-width: 25%;
}
.skill{
    width: 100%;
    padding: 0 4px;
    border-radius: 5px;
    color: #202020;
    font-weight: 800;
    text-align: right;
    background: var(--second-color);
    /* left to right transition */
    background: linear-gradient(to right, var(--main-color) 50%, var(--second-color) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .3s ease-out;
}
.skill:hover{
    background-position: left bottom;
    color: var(--text-color);
}
.html{
    width: 75%;
    background-color: var(--main-color);
}
.css{
    width: 60%;
    background-color: var(--main-color);
}
.js{
    width: 45%;
    background-color: var(--main-color);
}
.py{
    width: 70%;
    background-color: var(--main-color);
}
.java{
    width: 65%;
    background-color: var(--main-color);
}
.ini{
    width: 80%;
    background-color: var(--main-color);
}
.comm{
    width: 70%;
    background-color: var(--main-color);
}
.solve{
    width: 75%;
    background-color: var(--main-color);
}
.team{
    width: 85%;
    background-color: var(--main-color);
}